<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ticketac</title>
    <!-- To add in order to scale the view for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    



      <div class="home d-flex flex-column container-fluid">

        <div class="row headerlogin">

          <nav class=" header col-12 navbar navbar-light p-1 bg-light h6 font-weight-normal ">
              <a class="navbar">
              <img src="/images/train.png" width="30" height="30" class="logo mr-2" alt="">
              Ticketac
              </a>
              <div class="header-right ">
              <a href="logout" ><span class="Connection mr-3 text-danger font-weight-bold" >Deconnection</span></a>
              <a href="/orders" ><span>My last trip</span></a>
              </div>
          </nav>
    
      </div>

        <div class="row mt-2 d-flex flex-center text-white">


          <!-- SIGN IN AREA -->
          <div class="col-12 col-sm-8 text-center container-fluid">

            <div class="formArea">
              <div class="textTicket">
              <h4 class="titleForm">One Way ticket: </h4>
            </div>

              <form action="/sucess" method="POST">
                <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="From : Paris, Marseille..." name="departure" value="" required>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="To : Lille, Nantes..." name="arrival" value="" required>
                    </div>
                    <div class="col">
                      <input type="date" class="form-control" name="date"  required>
                    </div>
                    <button type="submit" class="btn btn-danger">GO</button>
                    
                  </div>
                  <div> <img class = "homeimage img-fluid" alt="Responsive image" src="/images/landmark.png"> </div>

                  
              </form>

            </div>

          </div>

        

          

        </div>
      </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>

